@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fffef7;
  --foreground-color: #fffef7;
  --custom-green-32: hsla(154.6875, 85.71%, 43.92%, 0.32);
  --custom-green-4: hsla(154.6875, 85.71%, 43.92%, 0.04);

  --custom-blue-32: hsla(201, 87%, 49%, 0.32);
  --custom-blue-4: hsla(201, 87%, 49%, 0.04);

  --custom-purple-32: hsla(271, 100%, 61%, 0.32);
  --custom-purple-4: hsla(271, 100%, 61%, 0.04);
}

@layer base {
  * {
    background-color: var(--background);
  }
  :root {
    --radius: 0.5rem;
  }
}

.backgrounds {
  background-color: linear-gradient(
    45deg,
    black 15%,
    hsla(0, 0%, 10.59%, 0) 80%
  );
}

html {
  scroll-behavior: smooth;
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
